flows.json.json
[
    {
        "id": "c9a376f4954df803",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6f26d6243b6b667f",
        "type": "mqtt in",
        "z": "c9a376f4954df803",
        "name": "",
        "topic": "GsmClient/Cultivos/JSON",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "825c419ca5c34079",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 240,
        "wires": [
            [
                "a0e9abdb6f7894d3"
            ]
        ]
    },
    {
        "id": "8c3b35c626c74e37",
        "type": "function",
        "z": "c9a376f4954df803",
        "name": "function 3",
        "func": "// Obtener los valores almacenados en el flujo\nlet sensorData = flow.get(\"sensorData\") || {};\n\ntry {\n    // Parsear el JSON completo\n    let payload = JSON.parse(msg.payload);\n\n    // Extraer datos principales\n    sensorData[\"MQ135\"] = Number(payload[\"MQ135\"]) || 0;\n    sensorData[\"Temp\"] = Number(payload[\"Temp\"]) || 0;\n    sensorData[\"Hum\"] = Number(payload[\"Hum\"]) || 0;\n    sensorData[\"MQ4\"] = Number(payload[\"MQ4\"]) || 0;\n\n    // Extraer datos del objeto \"Suelo\"\n    let suelo = payload[\"Suelo\"] || {};\n    sensorData[\"Suelo_Temp\"] = Number(suelo[\"temperatura\"]) || 0;\n    sensorData[\"Suelo_Humedad\"] = Number(suelo[\"humedad\"]) || 0;\n    sensorData[\"Suelo_Conductividad\"] = Number(suelo[\"conductividad\"]) || 0;\n    sensorData[\"Suelo_pH\"] = Number(suelo[\"ph\"]) || 0;\n    sensorData[\"Suelo_Nitrogeno\"] = Number(suelo[\"nitrogeno\"]) || 0;\n    sensorData[\"Suelo_Fosforo\"] = Number(suelo[\"fosforo\"]) || 0;\n    sensorData[\"Suelo_Potasio\"] = Number(suelo[\"potasio\"]) || 0;\n\n    // Guardar en el flujo\n    flow.set(\"sensorData\", sensorData);\n\n    // Mostrar en consola\n    node.warn(`Datos Recibidos: ${JSON.stringify(sensorData)}`);\n\n    // Crear mensajes separados para cada variable\n    let msgs = [\n        { topic: \"MQ135\", payload: sensorData[\"MQ135\"] },\n        { topic: \"Temp\", payload: sensorData[\"Temp\"] },\n        { topic: \"Hum\", payload: sensorData[\"Hum\"] },\n        { topic: \"MQ4\", payload: sensorData[\"MQ4\"] },\n        { topic: \"Suelo_Temp\", payload: sensorData[\"Suelo_Temp\"] },\n        { topic: \"Suelo_Humedad\", payload: sensorData[\"Suelo_Humedad\"] },\n        { topic: \"Suelo_Conductividad\", payload: sensorData[\"Suelo_Conductividad\"] },\n        { topic: \"Suelo_pH\", payload: sensorData[\"Suelo_pH\"] },\n        { topic: \"Suelo_Nitrogeno\", payload: sensorData[\"Suelo_Nitrogeno\"] },\n        { topic: \"Suelo_Fosforo\", payload: sensorData[\"Suelo_Fosforo\"] },\n        { topic: \"Suelo_Potasio\", payload: sensorData[\"Suelo_Potasio\"] }\n    ];\n\n    return msgs;\n\n} catch (err) {\n    node.error(\"Error al parsear el JSON: \" + err.message);\n    return null;\n}\n",
        "outputs": 11,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 460,
        "wires": [
            [
                "cb363fd05c3a1b4e",
                "47125372ce4e626f"
            ],
            [
                "df6a920faa66ecd7",
                "093842a6db551d6c"
            ],
            [
                "46592e31b3f833f5",
                "5e157fa0675ceb0b"
            ],
            [
                "e27b0bdebab20f0a",
                "7452dfdf36fb040f"
            ],
            [
                "915da912150435ec",
                "031f18dc1d672255"
            ],
            [
                "f4d8dc25ae5454e2",
                "92f061c668fabb8f"
            ],
            [
                "5a2f939b787adebe",
                "861453306a88c914"
            ],
            [
                "c9de63dae3e8079e",
                "ade5a268b634c8c9"
            ],
            [
                "c1bf9cc41dac8b09",
                "078a857f51c51d46"
            ],
            [
                "e61fd57e1a096979",
                "692ef6ce06737f8d"
            ],
            [
                "6606ae22baad4aa7",
                "0ea80d9d04b27b69"
            ]
        ]
    },
    {
        "id": "a0e9abdb6f7894d3",
        "type": "json",
        "z": "c9a376f4954df803",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 220,
        "wires": [
            [
                "8c3b35c626c74e37"
            ]
        ]
    },
    {
        "id": "1b2642068d3d1212",
        "type": "http in",
        "z": "c9a376f4954df803",
        "name": "",
        "url": "/datosmaiz",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 1140,
        "wires": [
            [
                "c1bb8f949c2dae5e"
            ]
        ]
    },
    {
        "id": "328ec14b80979cf4",
        "type": "http response",
        "z": "c9a376f4954df803",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 1200,
        "wires": []
    },
    {
        "id": "c1bb8f949c2dae5e",
        "type": "influxdb in",
        "z": "c9a376f4954df803",
        "influxdb": "ff6a51745a823c5b",
        "name": "",
        "query": "from(bucket: \"maiz\")\n|> range(start: -20d)\n|> filter(fn: (r) => r._field == \"value\")\n|> keep(columns: [\"_time\", \"_value\", \"_measurement\"])\n",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "Trabajos",
        "x": 430,
        "y": 1140,
        "wires": [
            [
                "d51aa2d569396a40",
                "59ff50e17e7e668d"
            ]
        ]
    },
    {
        "id": "59ff50e17e7e668d",
        "type": "function",
        "z": "c9a376f4954df803",
        "name": "function 4",
        "func": "let data = msg.payload;\n\n// Verifica si hay datos\nif (!Array.isArray(data) || data.length === 0) {\n    msg.payload = { error: \"No hay datos disponibles\" };\n    return msg;\n}\n\n// Extraer solo los campos requeridos\nlet resultado = data.map(item => {\n    return {\n        name: item._measurement,\n        time: item._time,\n        value: item._value\n    };\n});\n\nmsg.payload = resultado;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1220,
        "wires": [
            [
                "328ec14b80979cf4"
            ]
        ]
    },
    {
        "id": "d51aa2d569396a40",
        "type": "debug",
        "z": "c9a376f4954df803",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 1140,
        "wires": []
    },
    {
        "id": "cb363fd05c3a1b4e",
        "type": "ui_chart",
        "z": "c9a376f4954df803",
        "name": "",
        "group": "a8a35b302e7bffe5",
        "order": 15,
        "width": 15,
        "height": 9,
        "label": "Calidad del aire",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#f20765",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1020,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "df6a920faa66ecd7",
        "type": "ui_gauge",
        "z": "c9a376f4954df803",
        "name": "",
        "group": "a8a35b302e7bffe5",
        "order": 2,
        "width": 10,
        "height": 6,
        "gtype": "gage",
        "title": "Temperatura Ambiental",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1090,
        "y": 120,
        "wires": []
    },
    {
        "id": "46592e31b3f833f5",
        "type": "ui_gauge",
        "z": "c9a376f4954df803",
        "name": "",
        "group": "a8a35b302e7bffe5",
        "order": 3,
        "width": 10,
        "height": 6,
        "gtype": "wave",
        "title": "Humedad Ambiental",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1100,
        "y": 220,
        "wires": []
    },
    {
        "id": "e27b0bdebab20f0a",
        "type": "ui_chart",
        "z": "c9a376f4954df803",
        "name": "",
        "group": "a8a35b302e7bffe5",
        "order": 16,
        "width": 15,
        "height": 9,
        "label": "MQ4",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#f4f80d",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "915da912150435ec",
        "type": "ui_gauge",
        "z": "c9a376f4954df803",
        "name": "",
        "group": "a270de2ead27f3ae",
        "order": 2,
        "width": 10,
        "height": 6,
        "gtype": "gage",
        "title": "Temperatura suelo",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1110,
        "y": 440,
        "wires": []
    },
    {
        "id": "5a2f939b787adebe",
        "type": "ui_chart",
        "z": "c9a376f4954df803",
        "name": "",
        "group": "a270de2ead27f3ae",
        "order": 18,
        "width": 15,
        "height": 9,
        "label": "Conductividad Electrica",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ab08f7",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1130,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "c9de63dae3e8079e",
        "type": "ui_chart",
        "z": "c9a376f4954df803",
        "name": "",
        "group": "a270de2ead27f3ae",
        "order": 17,
        "width": 15,
        "height": 9,
        "label": "PH",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#00ff04",
            "#aec7e8",
            "#f27507",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1090,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "e61fd57e1a096979",
        "type": "ui_chart",
        "z": "c9a376f4954df803",
        "name": "",
        "group": "a270de2ead27f3ae",
        "order": 15,
        "width": 15,
        "height": 9,
        "label": "Fosforo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#4e09f1",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "6606ae22baad4aa7",
        "type": "ui_chart",
        "z": "c9a376f4954df803",
        "name": "",
        "group": "a270de2ead27f3ae",
        "order": 20,
        "width": 15,
        "height": 9,
        "label": "Potasio",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2cafad",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#2bff00",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "c1bf9cc41dac8b09",
        "type": "ui_chart",
        "z": "c9a376f4954df803",
        "name": "",
        "group": "a270de2ead27f3ae",
        "order": 16,
        "width": 15,
        "height": 9,
        "label": "Nitrogeno",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#f5680a",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#f114f5",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "47125372ce4e626f",
        "type": "influxdb out",
        "z": "c9a376f4954df803",
        "influxdb": "ff6a51745a823c5b",
        "name": "",
        "measurement": "MQ135Am",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Trabajos",
        "bucket": "maiz",
        "x": 1040,
        "y": 60,
        "wires": []
    },
    {
        "id": "093842a6db551d6c",
        "type": "influxdb out",
        "z": "c9a376f4954df803",
        "influxdb": "ff6a51745a823c5b",
        "name": "",
        "measurement": "TemperaturaAm",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Trabajos",
        "bucket": "maiz",
        "x": 1100,
        "y": 160,
        "wires": []
    },
    {
        "id": "5e157fa0675ceb0b",
        "type": "influxdb out",
        "z": "c9a376f4954df803",
        "influxdb": "ff6a51745a823c5b",
        "name": "",
        "measurement": "HumedadAm",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Trabajos",
        "bucket": "maiz",
        "x": 1110,
        "y": 260,
        "wires": []
    },
    {
        "id": "7452dfdf36fb040f",
        "type": "influxdb out",
        "z": "c9a376f4954df803",
        "influxdb": "ff6a51745a823c5b",
        "name": "",
        "measurement": "MQ4",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Trabajos",
        "bucket": "maiz",
        "x": 1100,
        "y": 360,
        "wires": []
    },
    {
        "id": "031f18dc1d672255",
        "type": "influxdb out",
        "z": "c9a376f4954df803",
        "influxdb": "ff6a51745a823c5b",
        "name": "",
        "measurement": "TemSuelo",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Trabajos",
        "bucket": "maiz",
        "x": 1120,
        "y": 480,
        "wires": []
    },
    {
        "id": "f4d8dc25ae5454e2",
        "type": "ui_gauge",
        "z": "c9a376f4954df803",
        "name": "",
        "group": "a270de2ead27f3ae",
        "order": 3,
        "width": 10,
        "height": 6,
        "gtype": "wave",
        "title": "Humedad Suelo",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1100,
        "y": 560,
        "wires": []
    },
    {
        "id": "92f061c668fabb8f",
        "type": "influxdb out",
        "z": "c9a376f4954df803",
        "influxdb": "ff6a51745a823c5b",
        "name": "",
        "measurement": "HumSuelo",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Trabajos",
        "bucket": "maiz",
        "x": 1120,
        "y": 600,
        "wires": []
    },
    {
        "id": "861453306a88c914",
        "type": "influxdb out",
        "z": "c9a376f4954df803",
        "influxdb": "ff6a51745a823c5b",
        "name": "",
        "measurement": "conduelect",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Trabajos",
        "bucket": "maiz",
        "x": 1120,
        "y": 700,
        "wires": []
    },
    {
        "id": "ade5a268b634c8c9",
        "type": "influxdb out",
        "z": "c9a376f4954df803",
        "influxdb": "ff6a51745a823c5b",
        "name": "",
        "measurement": "ph",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Trabajos",
        "bucket": "maiz",
        "x": 1120,
        "y": 800,
        "wires": []
    },
    {
        "id": "078a857f51c51d46",
        "type": "influxdb out",
        "z": "c9a376f4954df803",
        "influxdb": "ff6a51745a823c5b",
        "name": "",
        "measurement": "nitrogeno",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Trabajos",
        "bucket": "maiz",
        "x": 1140,
        "y": 900,
        "wires": []
    },
    {
        "id": "692ef6ce06737f8d",
        "type": "influxdb out",
        "z": "c9a376f4954df803",
        "influxdb": "ff6a51745a823c5b",
        "name": "",
        "measurement": "fosforo",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Trabajos",
        "bucket": "maiz",
        "x": 1130,
        "y": 1020,
        "wires": []
    },
    {
        "id": "0ea80d9d04b27b69",
        "type": "influxdb out",
        "z": "c9a376f4954df803",
        "influxdb": "ff6a51745a823c5b",
        "name": "",
        "measurement": "potasio",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Trabajos",
        "bucket": "maiz",
        "x": 1130,
        "y": 1120,
        "wires": []
    },
    {
        "id": "a88279de5256a32f",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "13de8ba252f6be83",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "807c0d050a8d3f05",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "0b10e826e9dc051c",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a8a35b302e7bffe5",
        "order": 1,
        "width": 5,
        "height": 1
    },
    {
        "id": "24fb1b69160ebd38",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a8a35b302e7bffe5",
        "order": 4,
        "width": 5,
        "height": 1
    },
    {
        "id": "1113e050129327d2",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a8a35b302e7bffe5",
        "order": 5,
        "width": 5,
        "height": 1
    },
    {
        "id": "016d1ce9d442e42b",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a8a35b302e7bffe5",
        "order": 6,
        "width": 5,
        "height": 1
    },
    {
        "id": "d6912dece7d47bfa",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a8a35b302e7bffe5",
        "order": 7,
        "width": 5,
        "height": 1
    },
    {
        "id": "099568607e50e0fa",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a8a35b302e7bffe5",
        "order": 8,
        "width": 5,
        "height": 1
    },
    {
        "id": "1abd683654e2a8a5",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a8a35b302e7bffe5",
        "order": 9,
        "width": 5,
        "height": 1
    },
    {
        "id": "ee1e1f3336eded2c",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a8a35b302e7bffe5",
        "order": 10,
        "width": 5,
        "height": 1
    },
    {
        "id": "7dc81ffa6b0818a9",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a8a35b302e7bffe5",
        "order": 11,
        "width": 5,
        "height": 1
    },
    {
        "id": "96c54f38db5a0751",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a8a35b302e7bffe5",
        "order": 12,
        "width": 5,
        "height": 1
    },
    {
        "id": "e45c96ec996d9a09",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a8a35b302e7bffe5",
        "order": 13,
        "width": 5,
        "height": 1
    },
    {
        "id": "68cb93aeb299b072",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a8a35b302e7bffe5",
        "order": 14,
        "width": 5,
        "height": 1
    },
    {
        "id": "1fc55bd08cb0bd74",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a270de2ead27f3ae",
        "order": 1,
        "width": 5,
        "height": 1
    },
    {
        "id": "c1e8e0c2591314d1",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a270de2ead27f3ae",
        "order": 4,
        "width": 5,
        "height": 1
    },
    {
        "id": "cb5ea6d1990e5258",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a270de2ead27f3ae",
        "order": 5,
        "width": 5,
        "height": 1
    },
    {
        "id": "97d1cac9830a3329",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a270de2ead27f3ae",
        "order": 6,
        "width": 5,
        "height": 1
    },
    {
        "id": "1b7729ee3e5f8529",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a270de2ead27f3ae",
        "order": 7,
        "width": 5,
        "height": 1
    },
    {
        "id": "2a2e282135932da9",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a270de2ead27f3ae",
        "order": 8,
        "width": 5,
        "height": 1
    },
    {
        "id": "c69c9e4d730c6138",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a270de2ead27f3ae",
        "order": 9,
        "width": 5,
        "height": 1
    },
    {
        "id": "3a08428d65844c52",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a270de2ead27f3ae",
        "order": 10,
        "width": 5,
        "height": 1
    },
    {
        "id": "1d74be27cdac8bd0",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a270de2ead27f3ae",
        "order": 11,
        "width": 5,
        "height": 1
    },
    {
        "id": "82b3760eec5d29ea",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a270de2ead27f3ae",
        "order": 12,
        "width": 5,
        "height": 1
    },
    {
        "id": "46f2daa1489ca279",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a270de2ead27f3ae",
        "order": 13,
        "width": 5,
        "height": 1
    },
    {
        "id": "b744a82b8a072c2d",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a270de2ead27f3ae",
        "order": 14,
        "width": 5,
        "height": 1
    },
    {
        "id": "6d999172e42901d9",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a270de2ead27f3ae",
        "order": 19,
        "width": 8,
        "height": 1
    },
    {
        "id": "4308bfb022c69652",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a270de2ead27f3ae",
        "order": 21,
        "width": 7,
        "height": 1
    },
    {
        "id": "07541e3e5eddca52",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a270de2ead27f3ae",
        "order": 22,
        "width": 8,
        "height": 1
    },
    {
        "id": "5433a0e0feb86835",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a270de2ead27f3ae",
        "order": 23,
        "width": 7,
        "height": 1
    },
    {
        "id": "0102fcf3acbac8e2",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a270de2ead27f3ae",
        "order": 24,
        "width": 8,
        "height": 1
    },
    {
        "id": "f8be4f508df0f82f",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a270de2ead27f3ae",
        "order": 25,
        "width": 7,
        "height": 1
    },
    {
        "id": "636cbc7a6a01da62",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a270de2ead27f3ae",
        "order": 26,
        "width": 8,
        "height": 1
    },
    {
        "id": "cc453b45875ce5c7",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a270de2ead27f3ae",
        "order": 27,
        "width": 7,
        "height": 1
    },
    {
        "id": "a0b15d391732f5e4",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a270de2ead27f3ae",
        "order": 28,
        "width": 8,
        "height": 1
    },
    {
        "id": "afc9410b5809ebff",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a270de2ead27f3ae",
        "order": 29,
        "width": 7,
        "height": 1
    },
    {
        "id": "e7321b82b0769a4b",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a270de2ead27f3ae",
        "order": 30,
        "width": 8,
        "height": 1
    },
    {
        "id": "b565648ba0bde4a5",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a270de2ead27f3ae",
        "order": 31,
        "width": 7,
        "height": 1
    },
    {
        "id": "4f0af0c45c555e3a",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a270de2ead27f3ae",
        "order": 32,
        "width": 8,
        "height": 1
    },
    {
        "id": "e591581598e7319f",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a270de2ead27f3ae",
        "order": 33,
        "width": 7,
        "height": 1
    },
    {
        "id": "c69f0e65ea63863e",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a270de2ead27f3ae",
        "order": 34,
        "width": 8,
        "height": 1
    },
    {
        "id": "0c7db0f2f6ed2cee",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a270de2ead27f3ae",
        "order": 35,
        "width": 7,
        "height": 1
    },
    {
        "id": "52a479cb5aa922ae",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a270de2ead27f3ae",
        "order": 36,
        "width": 8,
        "height": 1
    },
    {
        "id": "6b31dbcbb7191d49",
        "type": "ui_spacer",
        "z": "c9a376f4954df803",
        "name": "spacer",
        "group": "a270de2ead27f3ae",
        "order": 37,
        "width": 7,
        "height": 1
    },
    {
        "id": "825c419ca5c34079",
        "type": "mqtt-broker",
        "name": "broker",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ff6a51745a823c5b",
        "type": "influxdb",
        "hostname": "localhost",
        "port": "8086",
        "protocol": "http",
        "database": "cultivos",
        "name": "maiz",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "a8a35b302e7bffe5",
        "type": "ui_group",
        "name": "Ambiente",
        "tab": "66c55d55c3607516",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a270de2ead27f3ae",
        "type": "ui_group",
        "name": "Suelo",
        "tab": "66c55d55c3607516",
        "order": 2,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "13de8ba252f6be83",
        "type": "ui_group",
        "name": "Calidad del aire",
        "tab": "c321f025d878ba5d",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "66c55d55c3607516",
        "type": "ui_tab",
        "name": "Monitoreo de cultivos de Maíz",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c321f025d878ba5d",
        "type": "ui_tab",
        "name": "Cultivos Maíz",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]